#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.register-page {
  width: 500px;
  border: 1px solid #333;
  margin: 50px auto 0;
  padding: 0 30px 30px 30px;
  letter-spacing: 1px;
}
.register-page label {
  min-width: 200px;
  display: inline-block;
}
.field-group {
  margin-bottom: 20px;
  font-size: 16px;
}
.field-group input {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 16px;
  width: 500px;
  height: 40px;
  outline: none;
}
.submit-button {
  border: none;
  padding: 9px;
  font-size: 16px;
  color: #fff;
  background: green;
  cursor: pointer;
  outline: none;
  width: 100px;
  text-align: center;
}
form {
  margin-top: 30px;
}
